<h2>Translation Files</h2>
<ul>
  <% @files.each do |file| %>
    <li><strong><%= file.relative_path %>:</strong> <%= file.locales.to_sentence %></li>
  <% end %>
</ul>
<p><strong>Available locales:</strong> <%= @locales.to_sentence %></p>

<% if @incomplete.present? %>
  <h2>Incomplete Keys</h2>
  <ul>
    <% @incomplete.each do |incomplete| %>
      <li><%= incomplete %></li>
    <% end %>
  </ul>
<% end %>

<h2>Available Keys</h2>
<ul>
  <% @translations_by_key.each do |key, translations| %>
    <li>
      <strong><%= key %>:</strong>
      <dl>
        <% translations.each do |translation| %>
          <dt><%= translation.locale %> <small>(<%= translation.file.relative_path %>)</small></dt>
          <dd><pre><%= translation.value %></pre></dd>
        <% end %>
      </dl>
    </li>
  <% end %>
</ul>