<%= turbo_frame_tag('navigation_overview') do %>
  <header class="key-overview-header" data-controller="header">
    <h2><%= @navigation.path %></h2>
    <ul class="actions">
      <li>
        <%= button_tag type: 'button', class: 'button icon-button icon-button-primary', data: {
          action: 'click->header#showCreateForm' } do %>
          <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 5.75H8.25V0h-2.5v5.75H0v2.5h5.75V14h2.5V8.25H14v-2.5Z" /></svg>
          <%= t('.new') %>
        <% end %>
      </li>

      <dialog data-header-target="newTranslationDialog">
        <%= render 'locale_lab/shared/flash' %>
        <%= form_with url: locale_lab.translations_path, method: :post, data: { turbo_frame: '_top' } do |f| %>
          <%= f.label      :path, t('.path')   %>
          <%= f.text_field :path, value: current_path, data: { header_target: 'input' } %>
          <%= f.label      :force, t('.force') %>
          <%= f.check_box  :force %>
          <%= f.submit t('.create') %>
          <%= f.button t('.discard'), class: 'button secondary-button', type: 'button', data: { action: 'click->header#hideCreateForm' } %>
        <% end %>
      </dialog>

      <li>
        <%= form_with url: locale_lab.search_path, method: :get, data: { turbo_frame: '_top' } do |form| %>
          <%= form.hidden_field :id, value: params[:id] %>
          <%= form.search_field :search, value: params[:search] %>
          <%= form.submit t('.search') %>
        <% end %>
      </li>

      <% unless @navigation.key? %>
        <li>
          <ul>
            <!--- TODO: This should become a dropdown -->
            <% @yamls.each do |yaml| %>
              <li>
                <%=
                  button_tag yaml[:locale].upcase, type: 'button', class: 'button secondary-button', data: {
                    controller:         'yaml',
                    yaml_yaml_value:    yaml[:content],
                    yaml_action_value:  locale_lab.yaml_translation_path(@navigation.path),
                    yaml_locale_value:  yaml[:locale],
                    yaml_editor_outlet: '.editor',
                    action:             'click->yaml#editInEditor'
                  }
                %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </header>
<% end %>