<%
parts   = key.split('.')
current = parts.pop
%>

<style>
    .hidden {
        display: none;
    }
</style>


<li class="translations-card" data-controller="translation-key" data-translation-key-hidden-class="hidden">
  <ul class="translations-card-header">
    <li class="translations-card-key">
      <strong>
        <% parts.each.with_index do |part, index| %>
          <%= link_to part, locale_lab.translation_path(parts[0..index].join('.')) %>
          <span>.</span>
        <% end %>
        <strong><%= current %></strong>
      </strong>
    </li>

    <li class="translations-card-actions">
      <ul>
        <li>
          <%=
            button_to t('.destroy'), locale_lab.translation_path(key),
              method: :delete,
              tabindex: '-1',
              form:   {
                data: {
                  turbo_method:  :delete,
                  turbo_confirm: t('.confirm_destroy')
                }
              }
          %>
        </li>

        <li>
          <%= button_tag t('.move'), type: 'button', data: { action: 'click->translation-key#toggleForm' } %>
        </li>
      </ul>
    </li>
  </ul>

  <div class="hidden" data-translation-key-target="form">
    <%= form_with url: locale_lab.move_translation_path(key), method: :put do |f| %>
      <%= f.text_field :new_id, value: key, style: 'width: 500px;' %>
      <%= f.submit %>
    <% end %>
  </div>

  <ul class="translations-card-locales">
    <% translations.each do |translation| %>
      <%= render 'translation_with_key', key: key, translation: translation %>
    <% end %>
  </ul>
</li>