<%
key_id  = key.underscore.gsub('.', '_')
parts   = key.split('.')
current = parts.pop
%>

<li class="translations-card" data-controller="translation-key" data-translation-key-hidden-class="display-none">
  <ul class="translations-card-header">
    <li class="translations-card-key">
      <% parts.each.with_index do |part, index| %>
        <%= link_to part, locale_lab.translation_path(parts[0..index].join('.')), tabindex: '-1' %>
        <span>.</span>
      <% end %>
      <strong><%= current %></strong>
      <%=
        link_to t('.copy_to_clipboard'), "#rename_#{key_id}_input",
          tabindex: '-1',
          data: {
            action: 'translation-key#copyKeyToClipboard'
          }
      %>
    </li>

    <li class="translations-card-actions">
      <ul>
        <li>
          <%=
            button_to t('.destroy'), locale_lab.translation_path(key),
              method: :delete,
              tabindex: '-1',
              form:   {
                data: {
                  turbo_method:  :delete,
                  turbo_confirm: t('.confirm_destroy')
                }
              }
          %>
        </li>

        <li>
          <%= button_tag t('.move'), type: 'button', tabindex: '-1', data: { action: 'click->translation-key#toggleForm' } %>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="display-none" data-translation-key-target="moveForm">
    <%= form_with url: locale_lab.move_translation_path(key), method: :put do |f| %>
      <%=
        f.text_field :new_id, value: key,
          id:    "rename_#{key_id}_input",
          style: 'width: 500px;',
          data: {
            translation_key_target: 'input'
          }
      %>
      <%= f.submit %>
    <% end %>
  </ul>

  <ul class="translations-card-locales">
    <% translations.each do |translation| %>
      <%= render 'translation_with_key', key: key, translation: translation %>
    <% end %>
  </ul>
</li>