<%
key_id  = key.underscore.gsub('.', '_')
parts   = key.split('.')
current = parts.pop
%>

<li class="card key" data-controller="translation-key" data-translation-key-hidden-class="display-none">
  <ul class="key-header">
    <li class="key-header-label">
      <% parts.each.with_index do |part, index| %>
        <%= link_to part, locale_lab.translation_path(parts[0..index].join('.')), tabindex: '-1' %>
        <span>.</span>
      <% end %>
      <strong><%= current %></strong>
      <%=
        link_to t('.copy_to_clipboard'), "#rename_#{key_id}_input",
          class: 'button',
          tabindex: '-1',
          data: {
            action: 'translation-key#copyKeyToClipboard'
          }
      %>
    </li>

    <li class="key-header-actions">
      <ul>
        <li>
          <%=
            button_to t('.destroy'), locale_lab.translation_path(key),
              method: :delete,
              class: 'button',
              tabindex: '-1',
              form:   {
                data: {
                  turbo_method:  :delete,
                  turbo_confirm: t('.confirm_destroy')
                }
              }
          %>
        </li>

        <li>
          <%= button_tag t('.move'), type: 'button', class: 'button', tabindex: '-1', data: { action: 'click->translation-key#showMoveForm' } %>
        </li>

        <li>
          <%= button_tag t('.duplicate'), type: 'button', class: 'button', tabindex: '-1', data: { action: 'click->translation-key#showDuplicateForm' } %>
        </li>
      </ul>
    </li>
  </ul>


  <dialog data-translation-key-target="moveForm">
    <%= form_with url: locale_lab.move_translation_path(key), method: :put do |f| %>
      <%= t('.move') %>
      <%=
        f.text_field :new_id, value: key,
                     id:    "rename_#{key_id}_input",
                     style: 'width: 500px;',
                     data: {
                       translation_key_target: 'input'
                     }
      %>
      <%= f.submit %>
      <%= f.button t('.discard'), class: 'button secondary-button', type: 'button', data: { action: 'click->translation-key#hideMoveForm' } %>
    <% end %>
  </dialog>

  <dialog data-translation-key-target="duplicateForm">
    <%= form_with url: locale_lab.duplicate_translation_path(key), method: :put do |f| %>
      <%= t('.duplicate') %>
      <%=
        f.text_field :new_id, value: "#{key}_copy",
                     id:    "duplicate_#{key_id}_input",
                     style: 'width: 500px;'
      %>
      <%= f.submit %>
      <%= f.button t('.discard'), class: 'button secondary-button', type: 'button', data: { action: 'click->translation-key#hideDuplicateForm' } %>
    <% end %>
  </dialog>

  <ul class="key-body">
    <li>
      <ul class="key-locales">
        <% translations.each do |translation| %>
          <%= render 'translation_with_key', key: key, translation: translation %>
        <% end %>
      </ul>
    </li>
  </ul>
</li>