<%
  id    = key.gsub('.', '_') + "_#{translation.locale}"
  label = content_tag(:span, translation.locale) + " " + content_tag(:small, "(#{translation.file.relative_path})")
%>
<li class="translations-card-locale">
  <%= turbo_frame_tag(id) do %>
    <%= form_with url: locale_lab.translation_path(key), method: :put, data: { controller: 'translation-form', translation_form_text_area_value: translation.value } do |f| %>
      <%= f.hidden_field :locale, value: translation.locale %>
      <%= f.label        id,      label %>

      <%= f.text_area :value, value: translation.value, id: id, data: {
        controller: 'autogrow',
        translation_form_target: 'textArea',
        action: %w[
          input->autogrow#grow
          change->autogrow#grow
          paste->autogrow#grow
          blur->translation-form#submitIfChanged
          input->translation-form#toggleDiscardButton
        ].join(' ') } %>

      <!-- 
        TODO:
        <ul class="translations-card-locale-states">
          ...
        </ul>
      -->

      <ul class="translations-card-locale-actions">
        <%= f.button 'Discard', disabled: true, tabindex: '-1', type: 'button', data: { action: 'click->translation-form#discard', translation_form_target: 'discardButton' } %>
        <%= f.submit 'Save', tabindex: '-1', data: { translation_form_target: 'submitButton' } %>
      </ul>
    <% end %>
  <% end %>
</li>