<%
  id    = key.gsub('.', '_') + "_#{translation.locale}"
  label = content_tag(:span, translation.locale) + " " + content_tag(:small, "(#{translation.file.relative_path})")
%>

<li class="translations-card-locale">
  <%= turbo_frame_tag(id) do %>
    <%= form_with url: locale_lab.translation_path(key), method: :put, data: { controller: 'translation-value', translation_value_text_area_value: translation.value, translation_value_editor_outlet: '.editor' } do |f| %>
      <%= f.hidden_field :locale, value: translation.locale %>
      <%= f.label        id,      label %>

      <%= f.text_area :value, value: translation.value, id: id, data: {
        controller: 'autogrow',
        translation_value_target: 'textArea',
        action: %w[
          input->autogrow#grow
          change->autogrow#grow
          paste->autogrow#grow
          blur->translation-value#submitIfChanged
          input->translation-value#toggleDiscardButton
        ].join(' ') } %>

      <!--
        TODO:
        <ul class="translations-card-locale-states">
          ...
        </ul>
      -->

      <ul class="translations-card-locale-actions">
        <li>
          <%= f.submit 'Save', tabindex: '-1', data: { translation_value_target: 'submitButton' } %>
        </li>
        <li>
          <%= f.button 'Discard', disabled: true, tabindex: '-1', type: 'button', data: { action: 'click->translation-value#discard', translation_value_target: 'discardButton' } %>
        </li>
        <li>
          <%= f.button 'Editor', tabindex: '-1', type: 'button', data: { action: 'click->translation-value#editInEditor' } %>
        </li>
      </ul>
    <% end %>
  <% end %>
</li>