<%=
  render 'shared/locale_lab/sidebar', navigation: browser, path: @navigation.path
%>

<div class="content">
  <div class="key-overview" data-controller="key-overview" data-key-overview-hidden-class="display-none" data-key-overview-visible-flex-class="display-flex">
    <%= render 'navigation_overview' %>
    <% if @translations.present? %>
      <ul id="translations_list">
        <%= turbo_frame_tag "translations_page_#{current_page}" do %>
          <%= render 'translations', translations: @translations %>

          <%
            next_page_url = locale_lab.translation_path(@navigation.path,
              page:   current_page + 1,
              search: params[:search].presence
            )
          %>

          <%= turbo_frame_tag("translations_page_#{current_page + 1}", loading: :lazy, src: next_page_url) do %>
            <%= link_to t('.next_page'), next_page_url, class: 'display-none' %>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <%= turbo_frame_tag "translations_page_#{current_page}" do %>
      <% end %>
   <% end %>
  </div>
</div>

<dialog data-controller="editor" class="dialog editor" data-editor-hidden-class="display-none">
  <%= render 'locale_lab/translations/dialog_flash' %>
  <%= form_with method: :put, data: { editor_target: 'form', action: 'submit->editor#submit' } do |f| %>
    <div data-editor-target="wrapper">
      <ul class="inputs">
        <li>
          <%= f.hidden_field :locale, data: { editor_target: 'locale' } %>
          <%= f.text_area    :value,  data: { editor_target: 'textarea' }, class: 'display-none' %>
        </li>
      </ul>

      <ul class="actions">
        <li>
          <%= f.submit(class: 'button primary-button') %>
        </li>
        <li>
          <%= f.button       t('.discard'), type: 'button', class: 'button secondary-button', data: { action: 'click->editor#close' } %>
        </li>
      </ul>
    </div>
  <% end %>
</dialog>
