<%=
  render 'shared/locale_lab/sidebar', navigation: browser, path: @navigation.path
%>

<div class="content">
  <div class="key-overview">
    <%= render 'navigation_overview' %>
    <% if @translations.present? %>
      <ul id="translations_list">
        <%= turbo_frame_tag "translations_page_#{current_page}" do %>
          <%= render 'translations', translations: @translations %>
          <%
            next_page_url = locale_lab.translation_path(@navigation.path, page: current_page + 1)
          %>
          <%= turbo_frame_tag("translations_page_#{current_page + 1}", loading: :lazy, src: next_page_url) do %>
            <%= link_to t('.next_page'), next_page_url %>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <%= turbo_frame_tag "translations_page_#{current_page}" do %>
      <% end %>
   <% end %>
  </div>
</div>

<dialog data-controller="editor" class="editor" data-editor-hidden-class="display-none">
  <div data-editor-target="errors" class="display-none"></div>
  <%= form_with method: :put, data: { editor_target: 'form', action: 'submit->editor#submit' } do |f| %>
    <div data-editor-target="wrapper">
      <%= f.hidden_field :locale, data: { editor_target: 'locale' } %>
      <%= f.text_area    :value,  data: { editor_target: 'textarea' }, class: 'display-none' %>
      <%= f.submit       t('.save') %>
      <%= f.button       t('.discard'), type: 'button', data: { action: 'click->editor#close' } %>
    </div>
  <% end %>
</dialog>
