<%=
  render 'shared/locale_lab/sidebar', navigation: browser, path: @navigation.path
%>

<div class="content">
  <div class="key-overview">
    <%= render 'navigation_overview' %>

    <% if translations.present? %>
      <ul>
        <% translations.each do |key, translations| %>
          <%=
            render 'translations_with_key',
              key:          key,
              translations: translations
          %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<dialog data-controller="editor" class="editor" data-editor-hidden-class="display-none">
  <div data-editor-target="errors" class="display-none"></div>
  <%= form_with method: :put, data: { editor_target: 'form', action: 'submit->editor#submit' } do |f| %>
    <div data-editor-target="wrapper">
      <%= f.hidden_field :locale, data: { editor_target: 'locale' } %>
      <%= f.text_area    :value,  data: { editor_target: 'textarea' }, class: 'display-none' %>
      <%= f.submit       t('.save') %>
      <%= f.button       t('.discard'), type: 'button', data: { action: 'click->editor#close' } %>
    </div>
  <% end %>
</dialog>
